<section class="annocement">
    <div class="container">
        <p class="text-center">{{ section.settings.text }}</p>
    </div>
</section>
{% schema %}
{
    "name": "Annoucement Bar",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Announcement",
            "default": "Free shipping on all LOCTOTE orders over $75"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#333333"
        }
    ]
}
{% endschema %}

{% stylesheet %}
    .annocement {
        background-color: {{ section.settings.bg_color }};
    }
{% endstylesheet %}