<!-- add css -->
{{ 'video' | asset_url | stylesheet_tag}}

<section class="video-area">
    <div class="video-wrapper">
        <div class="d-table">
            <div class="d-table-cell">
                <article>
                    <h1>BLACK FRIDAY SALE</h1>
                    <p>UP TO 30% OFF ON OUR TOUGH ANTI-THEFT BAGS</p>
                    <a href="#">SHOP NOW</a>
                </article>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Video"
}
{% endschema %}