* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Saira', sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    /* --golden-text: #d8b764;
    --announcement-bg: #333333; */
    --site-bg: #f3f0eb;
    --icon-hover: rgba(189, 97, 78, 1);
    --menu-hover: rgba(189, 97, 78, 1);
    --dropdown-bg: #f3f0eb;
    --dropdown-menu-bg: #eadbd4;
    --border: #878787;
}

/* UTILITIES */
.d-flex {
    display: flex;
}

.d-table {
    display: table;
    width: 100%;
    height: 100%;
}

.d-table-cell {
    display: table-cell;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.d-none {
    display: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.site-btn {
    display: inline-block;
    padding: 15px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    background: rgba(189, 97, 78, 1);
}

.site-btn:hover {
    background: rgba(216, 183, 100, 1);
}

/* ANNOUNCEMENT BAR CSS */
.annocement {
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
}

/* HEADER CSS */
.header {
    padding: 20px 0px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.header-item--nav, 
.header-item--icon {
    flex: 1 1 0;
}

.site-nav__item {
    position: relative;
}

.site-nav__link {
    font-size: 13px;
    color: #fff;
    padding: 7px 10px;
    display: inline-block;
}

.site-nav__link--size {
    width: 25px;
    height: 25px;
}

.site-nav__link:hover {
    color: var(--menu-hover);
}

svg.icon:hover path {
    stroke: var(--icon-hover);
}

/* sticky header */
.header--sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f3f0eb;
    padding: 15px 0;
}

header.is-bg a {
    color: #000;
}

header.is-bg svg.icon path {
    stroke: #000;
}

/* dropdown menu */
.site-nav__dropdown {
    background: var(--dropdown-bg);
    padding: 10px 0;
    position: absolute;
    min-width: 175px;
    top: 28px;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 999;
}

.site-nav__dropdown li {
    border-bottom: 1px solid var(--border);
    display: block;
}

.site-nav__dropdown li:last-child {
    border-bottom: none;
}

.site-nav__dropdown li a {
    padding: 15px 20px;
    display: block;
    color: #161412;
    font-weight: 500;
}

.site-nav__dropdown li a:hover {
    background: var(--dropdown-menu-bg)
}

.has--dropdown:hover {
    background: var(--dropdown-bg);
}
.has--dropdown:hover .has--dropdown  a.site-nav__link{
    color:var(--menu-hover);
}

.has--dropdown:hover .site-nav__dropdown {
    visibility: visible;
    top: 100%;
}

.has--dropdown:hover .site-nav__link--dropbtn {
    color: var(--menu-hover);
}


/* mobile menu */
.menu-btn button {
    width: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.menu-close button {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav-drawer {
    background: var(--site-bg);
    width: 80%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -80%;
    z-index: 9999;
    overflow-y: scroll;
}

.nav-drawer .site-nav__item {
    border-bottom: 1px solid var(--border);
}

.nav-drawer .site-nav__link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 20px;
    display: block;
}

.site-nav__link:hover {
    color: var(--menu-hover);
}

/* mobile menu dropdown */
.site-nav-mobile__dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out 0s;
    position: relative;
}

.has-mobile--dropdown::before {
    content: '+';
    position: absolute;
    top: -2px;
    right: 20px;
    font-size: 29px;
    color: var(--icon-hover);
}

.has-mobile--dropdown.active::before {
    content: '-';
}

.has-mobile--dropdown.active  {
    padding-left: 20px;
}

.has-mobile--dropdown.active .site-nav__link--dropbtn {
    margin-left: -20px;
}

.has-mobile--dropdown.active .site-nav-mobile__dropdown li:first-child {
    border-top: 1px solid var(--border);
}

.has-mobile--dropdown.active .site-nav-mobile__dropdown li:last-child {
    border-bottom: none;
}

/* VIDEO AREA CSS */
.video-area {
    height: 700px;
}

.video-wrapper {
    height: 100%;
    position: relative;
    z-index: 999;
}

.video-wrapper::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    position: absolute;
    opacity: .5;
    z-index: -1;
}

.bg-video-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0602/6018/8342/files/video.gif?v=1637733043');
}

article {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.article__title {
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
}

.article__text {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 35px;
}

/* responsive css */
@media (max-width: 768px) {
    .site-nav--left {
        display: none;
    }
    a.user {
        display: none;
    }
    .menu-btn button {
        display: block;
    }
}